/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.main-container {
  text-align: center;
  background-color: lightblue;
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 30px;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
